<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microblog</title>
</head>
<body>
<nav>
    <ul>
        <li><a onclick="return carregarFormulario();">Formulário</a></li>
        <li><a onclick="return carregarListaCompleta();">Lista Completa</a></li>
    </ul>
</nav>
<section id="conteudo">

</section>
<footer>
</footer>
<script>

    function carregarListaCompleta() {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "{{ url_for('lista_completa') }}" );
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("conteudo").innerHTML = xhr.response;
            }
        }
        xhr.send();
        return false;
    }

    function carregarFormulario() {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "{{ url_for('formulario') }}" );
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("conteudo").innerHTML = xhr.response;
            }
        }
        xhr.send();
        return false;
    }

    function enviar(form) {
        var formData = new FormData(form);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('inserir') }}");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("post_list").innerHTML = xhr.response;
            }
        }
        xhr.send(formData);
        return false;
    }

</script>
</body>
</html>